<html ng-app="myApp" ng-controller="myCtrl">

<head>
	<title>Test map</title> 
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<script src="app.js"></script> 
</head>
<body>
	<div style='padding: 50px'>
		<p>Address to lookup: <input type="text" ng-model="address" size="55"><button ng-click="go()"> go </button></p>
		
		<p>Maps will navigate to {{address}}</p>
		<p>Latitude of address adobe is: {{location.lat}}</p>
		<p>Longtitude of address adobe is: {{location.lng}}</p>		 

		<br>
		<button ng-click="put('ucla')">ucla</button>
		<button ng-click="put('pasadena city hall')">pasadena city hall</button>
		<button ng-click="put('Toledo')">Toledo</button>  
	</div> 
</body> 